body {
    font-family: 'Oxygen', sans-serif;
    font-family: 'Roboto Slab', serif;
}

section {
    background: white;
    border: solid black 1px;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    height: 500px;


    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;

}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 55px;
}

p {
    margin: 0;
    font-weight: 400;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 160px;
    height: 50px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.sub-section {
    display: flex;
    gap: 100px;
    justify-content: space-around;
    padding: 30px;
}

.socials {
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 30%;
}

.social {
    margin: 20px;
}

.information p {
    font-size: 25px;
}

.headshot {
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .sub-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 60px;
    }
}





